<%- include('partials/header.ejs') -%>

<div class="conatiner" style="text-align: center;padding-top: 0.5em;">    
    <h3>WELCOME</h3>
    <div class="container" style="text-align: right;"> 
        <a href='./add' class="btn btn-success" style="margin: 1em;">Add song</a>
    </div>
</div>

</body>
</html>